node_modules/
persn.dev/
config/
config.json
yarn.lock
yarn-error.log
bot.new.js
config.new.json
testing.js
filtered.json
unfiltered.json
user.json
storage.json
dev.json
musicQueueSystem.json
commands/team.js
*.png